body {
    /* background-color: darkgray; */
    font-family: sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: purple;
    color: rgb(255, 255, 255);
    text-align: center;
}